---
title: History
---

<div class="timeline">
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>Mid 2013</h2>
      <b>PHISHING</b>
      <p>Months prior to the attack, phishig emails targeted at 3rd party vendors were sent</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>November 27th</h2>
      <b>ATTACK BEGINS</b>
      <p>The cyber security attack on Target begins</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>December 13th</h2>
      <b>ATTACK DISCOVERED</b>
      <p>Target discovers the breach; meet with the U.S. Justice Department</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>December 14th</h2>
      <b>HIRE FORENSIC TEAM</b>
      <p>Target hires third-party security professionals from Verizon</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>December 14th</h2>
      <b>ATTACK MITIGATED</b>
      <p>Target says 40 million credentials were compromised</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>December 18th</h2>
      <b>KREBS REPORTS DATA BREACH</b>
      <p>Security blogger Brian Krebs reports the data breach</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>December 19th</h2>
      <b>TARGET CONFIRMS DATA BREACH</b>
      <p>Officials acknowledge data breach, however state PIN numbers are safe</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>December 20th</h2>
      <b>REASURING THE PUBLIC</b>
      <p>Target officials assure that no social security numbers or birthdates were breached</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>December 27th</h2>
      <b>PIN NUMBERS BREACHED</b>
      <p>Target announces encrypted PIN numbers compromised</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>Januaray 10th, 2014</h2>
      <b>BREACH INTENSIFIES</b>
      <p>Target says an additional 70 million customers were compromised</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>February 18th, 2014</h2>
      <b>COSTS ADD UP</b>
      <p>Reported costs from breach exceed $200 million</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>April 30th, 2014</h2>
      <b>MAKING A CHANGE</b>
      <p>Target commits $100 million to update technology</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>May 5th, 2014</h2>
      <b>NEW LEADERSHIP</b>
      <p>The current CEO resigns, and a new CEO is appointed</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>2014</h2>
      <b>IDENTITY THEFT</b>
      <p>Identity theft is record high in 2014</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>March 2015</h2>
      <b>$10 MILLION SETTLEMENT</b>
      <p>Consolidated class-action lawsuit concludes</p>
    </div>
  </div>
  <div class="timeline-container right">
    <div class="timeline-content">
      <h2>October 2014</h2>
      <b>OBAMA SIGNS ORDER</b>
      <p>Legislature about EMV payment processes is signed</p>
    </div>
  </div>
  <div class="timeline-container left">
    <div class="timeline-content">
      <h2>2017</h2>
      <b>$18.5 MILLION SETTLEMENT</b>
      <p>Terms of settlement set new security standards in industry</p>
    </div>
  </div>
</div>