---
title: Modules
---


        <div class = "card">
      
        <div class = "card-body">
        
          <h5 class = "card-title">Modules</h5>
          
          <div class = "module-buttons">

	          <a type="button" class="btn btn-block btn-outline-danger btn-lg" href="history.html"><i class="fas fa-history"></i>   Module 1: Breach Timeline</a>
            <a type="button" class="btn btn-block btn-outline-danger btn-lg" href="practices.html"><i class="fas fa-shield-alt"></i>   Module 2: Security Best Practices</a>
            <a type="button" class="btn btn-block btn-outline-danger btn-lg" href="password.html"><i class="fas fa-fist-raised"></i>   Module 3: Password Management</a>
            <a type="button" class="btn btn-block btn-outline-danger btn-lg" href="phishing.html"><i class="fas fa-fish"></i> Module 4: Phishing</a>

        </div>
      </div>

