---
title: Tasks
---

<div id = "taskcontent" class = "container">
  <ul class = "list-group">
    <li class="list-group-item">
      Complete Module 1
      <div class="badge badge-danger">Incomplete</div>
    </li>

    <li class="list-group-item">
        Complete Module 2
        <span class="badge badge-danger"> Incomplete</span>
    </li>

    <li class="list-group-item">
      Complete Module 3
      <span class="badge badge-danger"> Incomplete</span>
    </li>
  </ul>
</div>

