---
title: Tasks
---

        <div class = "card">
      
        <div class = "card-body">
        
          <h5 class = "card-title">Tasks</h5>
          
          <div id = "taskcontent" class = "container">
            <ul class = "list-group">
              <li class="list-group-item"><a href="history.html">Read through Target's breach history</a></li>
              <li class="list-group-item"><a href="practices.html">Read about the best security practices</a></li>
              <li class="list-group-item"><a href="management.html">Read about password management</a></li>
              <li class="list-group-item"><a href="phishing.html">Take the phishing quiz</a></li>
            </ul>
          </div>
        </div>
        </div>
