---
title: Management
---

        <div class = "card">
      
        <div class = "card-body">
        
          <h5 class = "card-title">Password Management</h5>
          <h6 class="card-subtitle text-muted">Why is password management important?</h6>
          <br>
          <ul class = "management-ul">
            <li>At the time of the breach, Target had a password policy, but it was not being enforced. </li>
            <li>External forensic teams were able to crack 86% of employee passwords and 34% of administrator passwords in just 1 week.</li>
            <li>The cause of this, unfortunately, was that many users were using weak, or even the system default passwords. </li>
            <li>They also found files containing lists of passwords on various servers.</li>
          </ul>
          
          <p>Please review our password strength checker and our password generator.</p>
          
          <a type="button" class="btn btn-danger" href="/password.html">Password Strength Checker</a>
          <a type="button" class="btn btn-danger" href="/generator.html">Password Generator</a>

          
        </div>
        </div>
