---
title: Miscellaneous
---

<h1>this will be updated later!!!!!!!!</h1>

<a href="#">Breach History</a>
<a href="/phishing.html">Phishing Module</a>
<a href="/password.html">Password Strength Checker</a>
