---
Title: Password Checker
---

<!-- PASSWORD sTRENGTH TRACKER -->
<div class = "card">

  <div class = "card-body">
  
    <h5 class = "card-title">Password Strength Validator</h5>
    <h6 class = "card-subtitle text-muted">Enter in a sample password and see how strong it is.</h6>
    <input type = "text" id = "password"/>
    
    <div class = "progress">
      <div id="bar" class="progress-bar progress-bar-success progress-bar-striped bg-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
</div>

<!-- PASSWORD GENERATOR -->
<div class = "card" id = "genCard">
  <div class = "card-body"> 
    <h5 class = "card-title">Password Generator</h5>
    <h6 class = "card-subtitle text-muted">Enter some requirements and a password will be generated for you</h6>
    <div class="card-text">

      <div class = "checkBoxes">
        <label class="container">Uppercase (ABCDEFGHIJKLMNOPQRSTUVWXYZ)
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        
        <label class="container">Lowercase (abcdefghijklmnopqrstuvwxyz)
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

        <label class="container">Numbers (0123456789)
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

        <label class="container">Symbols (!&quot;#$%&amp;&apos;()*+,-./:;&lt;=&gt;?@[\]^_`{|}~)
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>

    </div>
  </div>
</div>
