---
Title: Phishing
---

<div class = "card">

  <div class = "card-body">
  
    <h5 class = "card-title">Phishing</h5>
    <h6 class="card-subtitle text-muted">What is phishing and why is it dangerous?</h6>
    <br>
    <p style="text-align: left">Phishing is sending spoofed email containing security threats such as a fraudulent call-to-action, request for personally 
      identifying information, or link to sites containing malware. Phishing is a form of social engineering that preys on the trust 
      of an email user. Unlike some other security threats, the frequency of phishing attacks is continually growing. Historically, 
      phishing has been one of Target’s largest vulnerabilities considering the 2013 phishing breach which caused the loss of 110 
      million sets of personally identifying information. The following are some recent statistics on phishing and email fraud in 2019:</p>
    <ul class = "management-ul">
      <li>The average financial cost of a data breach is <b>$3.86 million</b> (IBM)</li>
      <li>Phishing accounts for <b>90%</b> of data breaches</li>
      <li><b>15%</b> of people successfully phished will be targeted at least one more time within the year</li>
      <li>Buisness Email Compromise (BEC) scams accounted for over <b>$12 billion</b> in losses (FBI)</li>
      <li>Phishing attempts have grown <b>65%</b> in the last year</li>
      <li>Around <b>1.5 million</b> new phishing sites are created each month (Webroot)</li>
      <li><b>76%</b> of businesses reported being a victim of a phishing attack in the last year</li>
      <li><b>30%</b> of phishing messages get opened by targeted users (Verizon)</li>
    </ul>    
  </div>
</div>

    <div class = "card">
    
    <div class = "card-body">
    
      <h5 class = "card-title">Phishing Quiz</h5>
      <div id = "text">
        <p>Description</p>
      </div>
      
      <div id = "email">
        <hr/>
        <p><b>From:</b> <span id = "email-sender">sender@email.com</span>
        <br><b>To:</b> youremail@email.com
        <br><b>Date:</b> April 3rd
        <br><b>Subject:</b> <span id = "email-subject">Subject</span></p>
        
        <p id = "email-body">Body Text</p>
      </div>
      
      <div id="option-buttons" class="btn-grid">
        <button class="btn btn-light">Button 1</button>
        <button class="btn btn-light">Button 2</button>
      </div>
    </div>
    
    </div>
