---
title: Best Practices
---
<div class="article-list">
    <p>As an employee you are on the front lines of Target's information security. While Target may have comprehensive cybersecurity policies it's important for all of its employees to stay alert in order to protect company and customer data as well as keeping a safe 
        and secure network. Consider this scenario: one single employee makes a mistake of interacting with a phishing email which leads to a data breach impacting <b>110 million customers</b>. Unfortunately, that's already happened (learn more in the History Module).
        It's smart to learn about cybersecurity and stay on top of its best practices. Even the small things tht contribute to cybersecurity can go a long way in protecting Target, its employees, and its customers. The following are some of the best tips and tricks
        that every employee should know. 
    </p>
    <ul class="list-unstyled">
        <li class="media">
          <!-- <img src="../../images/database-solid.svg" style="color:#CC0000;" class="mr-3" alt="..."> -->
          <i class="fas fa-database fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Protect Your Data</h5>
            In your day to day life you probably have to avoid sharing your personally identifiable information (PII), or any data that could be used to identify an individual, with unknown sources. For instance you would most likely be hesitant to share your credit card
            number or SSN when answering an unsolicited call, text, or email. Using this same caution at work is extremely helpful in combatting cybercriminals, scammers, and hackers. Some common tactics these attack agents use to try and trick you into giving them data 
            is creating legitamite looking email addresses and websites, fake caller ID information, or even take over company social media accounts and impersonate them. <br><br> While this may seem obvious also don't leak company data, sensitive information, or intellectual 
            property. This can even be done inadvertently if you were to share a picture online of our work space with a whiteboard or computer screen in the background. This could accidently reveal information that someone eternal to the company shouldn't see. 
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-link fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Pop-ups, Unknown Emails, and Links Oh My!</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <i class="fas fa-key fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Strong Password Protection</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-wifi fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Secure Wi-Fi</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-fire-alt fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Firewall Protection at Work and at Home</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-shield-alt fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Invest in Cybersecurity</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-cloud fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Update Your Security Software and Back Up Your Files</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-laptop-code fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Befriend Your IT Department</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-users fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Employ Third Party Controls</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-book-open fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Embrace Education and Training</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
    </ul>
</div>