---
title: Best Practices
---
<div class="article-list">
    <p>As an employee you are on the front lines of Target's information security. While Target may have comprehensive cybersecurity policies it's important for all of its employees to stay alert in order to protect company and customer data as well as keeping a safe 
        and secure network. Consider this scenario: one single employee makes a mistake of interacting with a phishing email which leads to a data breach impacting <b>110 million customers</b>. Unfortunately, that's already happened (learn more in the History Module).
        It's smart to learn about cybersecurity and stay on top of its best practices. Even the small things tht contribute to cybersecurity can go a long way in protecting Target, its employees, and its customers. The following are some of the best tips and tricks
        that every employee should know. 
    </p>
    <ul class="list-unstyled">
        <li class="media">
          <!-- <img src="../../images/database-solid.svg" style="color:#CC0000;" class="mr-3" alt="..."> -->
          <i class="fas fa-database fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Protect Your Data</h5>
            In your day to day life you probably have to avoid sharing your personally identifiable information (PII), or any data that could be used to identify an individual, with unknown sources. For instance you would most likely be hesitant to share your credit card
            number or SSN when answering an unsolicited call, text, or email. Using this same caution at work is extremely helpful in combatting cybercriminals, scammers, and hackers. Some common tactics these threat agents use to try and trick you into giving them data 
            is creating legitamite looking email addresses and websites, fake caller ID information, or even take over company social media accounts and impersonate them. <br><br> While this may seem obvious also don't leak company data, sensitive information, or intellectual 
            property. This can even be done inadvertently if you were to share a picture online of our work space with a whiteboard or computer screen in the background. This could accidently reveal information that someone eternal to the company shouldn't see. 
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-link fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Pop-ups, Unknown Emails, and Links Oh My!</h5>
            Beware of phishing! Phishers are threat agents who want to trick you into clicking on a link that may cause a security breach. It's highly recommended that you check out the Phishing Module.<br><br>A good rule to remember is never enter personal or company information 
            in response to an email, pop-up, or any other form of communication you didn't initiate. Doing so can result in identity theft or a ransomware attack. Always be cautious and if you're unsure of the legitimacy of any form of communication alert the cybersecurity 
            department. 
          </div>
        </li>
        <li class="media">
          <i class="fas fa-key fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Strong Password Protection</h5>
            A strong and complex password can be the difference betweeen a threat agent gaining access to company information and not. To learn more passwords management, testing the strength of your passwords, and generating random passwords check out the Password Management Module.
            If a cybercriminal were to figure out your password they could access the company's network and potentially more! Creating unique and complex passwords is of the upmost importance.<br><br>Also turn on multi-factor authentication when you can. This adds an additional layer 
            of protection by prompting you to take one extra step like entering a code or pressing a button on your phone to log in.
          </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-wifi fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Secure Wi-Fi</h5>
              Target's Wi-Fi is is secure, encrypted, and hidden (all things a network should be). In the case that you're working remotely, you can help protect data by using a virtual private network (VPN). A VPN allows you to create a secure connection to another network (in this 
              case Target's) over the Internet and are essential when doing work outside of the office or on a buisness trip. Public Wi-Fi is notorious for being risky and can make your data vulnerable to being intercepted.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-fire-alt fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Firewall Protection at Work and at Home</h5>
              One of the first lines of defense against a cyberattack is the firewall for Target's network or your home network. Firewalls are put in place to prevent unauthorized access to Target's websites, mail services, and any other sources of informatin that can be accessed from 
              the web. When working from home be sure to have a firewall installed.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-wrench fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Update Your Security Software</h5>
              Updating your security software, web browsers, and operating systems with the latest protections is one of the top best security practices. These updates often come with antivirus and anti-malware protections which are constantly be modified and revised in order to respond 
              to new threats.
            </div>
        </li>
        <li class="media my-4">
            <i class="fas fa-book-open fa-3x" class="mr-3" style="padding-right: 20px; color: #CC0000;"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Embrace Education and Training</h5>
              It is your responsibility to know Target's cybersecurity policies and taking part in this training module is the first step! It's important to encourage other Target employees to also take part in this module and stay up to date on trends and newly enforced policies.  
            </div>
        </li>
    </ul>
</div>