<%# Creates a tabular navigation bar, which also acts as the footer. %>

 <nav id = "navigation" class="nav nav-pills nav-justified fixed-bottom">
   <%# The task page, which is the sites homepage by default. %>
   <a type="button" class="btn btn-outline-light btn-lg" class="nav-item nav-link" href="/index.html">Tasks</a>

   <%# The modules page. %>
   <a type="button" class="btn btn-outline-light btn-lg" class="nav-item nav-link" href="/modules.html">Modules</a>

   <%# The questions page, which links to the chatbot. %>
   <a type="button" class="btn btn-outline-light btn-lg" class="nav-item nav-link" href="#" onclick="openNav()">Questions</a>

 </nav>

 <div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>