<%# Creates a tabular navigation bar, which also acts as the footer. %>

 <nav id = "navigation" class="nav nav-pills nav-justified fixed-bottom">
   <%# The task page, which is the sites homepage by default. %>
   <a class="nav-item nav-link" href="/index.html">Tasks</a>

   <%# The modules page. %>
   <a class="nav-item nav-link" href="/modules.html">Modules</a>

   <%# The questions page, which links to the chatbot. %>
   <a class="nav-item nav-link" href="questions.html">Questions</a>
 </nav>

