:root {
  --background-color: #ff8080;
  --white-color: #ffffff;
  --hover-link-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* HEADER */
header h1 {
  text-align: center;
  padding: 25px;
  background-color: var(--background-color);
  color: var(--white-color);
}

/* TASKS */
.list-group li {
  margin: 5px;
}
.list-group .badge {
  margin-left: 10px;
}


/* NAVIGATION */
.nav {
  background-color: var(--background-color);
  padding: 25px;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--white-color);
}

nav a:hover {
  color: var(--hover-link-color);
}

/* SIDEPANEL */
.sidepanel {
  height: 750px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #ffffff; /* White*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  // padding-left: 15px; /* Place content 15px from the left */
  // padding-right: 15px; /* Place content 15px from the right */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links --- REMOVED*/
// .sidepanel a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s;
// }

/* When you mouse over the navigation links, change their color */
// .sidepanel a:hover {
//   color: #000000;
// }

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #CC0000;
}

/* MESSAGING CHAT CARDS */
.chatbot-res {
  right: 50px;
  left: 0px;
  border-color: #808080
}

.user-res {
  right: 0px;
  left: 50px;
  border-color: #CC0000;
}

/* Add styles to the form container */
.chat-submit {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.chat-submit textarea {
  display:inline-block;
  width: 55%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 30px;
}

/* When the textarea gets focus, do something */
.chat-submit textarea:focus {
  background-color: #ddd;
  outline: none;
}

#send-btn {
  display:inline-block;
}

/* PASSWORD CHECKER */
.card {
  margin: 2em;
  text-align: center;
}

.card input {
  margin: 1em;
}