:root {
  --background-color: #ff8080;
  --white-color: #ffffff;
  --hover-link-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* HEADER */
header h1 {
  text-align: center;
  padding: 25px;
  background-color: var(--background-color);
  color: var(--white-color);
}

/* TASKS */
.list-group li {
  margin: 5px;
}
.list-group .badge {
  margin-left: 10px;
}


/* NAVIGATION */
.nav {
  background-color: var(--background-color);
  padding: 25px;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--white-color);
}

nav a:hover {
  color: var(--hover-link-color);
}
